
.login-form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form, .signup-form {
  background-color: #FF6666;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
}

input {
  margin: 20px;
}

.btn-std{
  margin-left: 45%;
  background-color: #FFA3A3;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10%;
  border-color: black;
  font-size: 15px;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-std {
  margin-left: 15%;
}
