.navbar{
  background-color: #FF6666;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: -1%;

}

button{
  float: right;
  background-color: #FFA3A3;
  border: 1px solid black;
}
