.navbar{
  background-color: #01395E;
  padding: 5% 5% 0 5%;
  margin-bottom: 1em;
}

// button{
//   float: right;
//   background-color: #FFA3A3;
//   border: 1px solid black;
// }
//
// h3 {
//   color: #ffa3a3;
//   font-size: 70%;
// }
