<section class="create-gallery">
  <form name="createGalleryForm"
    class="gallery-form"
    ng-submit="createGalleryCtrl.createGallery()">
    <div class="fieldset">
      <fieldset>
        <input name="name" class="input-std" type="text" ng-model="createGalleryCtrl.gallery.name" placeholder="Name"required>
      </fieldset>

      <fieldset>
        <input name="desc" class="input-std" ng-model="createGalleryCtrl.gallery.desc" placeholder="Description" required>
      </fieldset>
    </div>
    <button class="btn-std" type="submit">Create Gallery</button>
  </form>
</section>
