.home{
  background-color: #759EA4;
  margin: 0 20%;
  padding: 0 1%;
}

fieldset {
  color: #01395E;
  margin-left: 25%;
}


h2, .gallery-name, p {
  text-align: center;
  color: #A0CDB6;
}

.fuzzy-search {
  margin-left: 35%;
}

.upload-pic {
  margin-right: 10%;
}

.select-image{
align-items: center;
color: blue;
}
