.home{
  background-color: #759EA4;
  margin: 0 20%;
  padding: 0 1%;

}

// h2, .gallery-name {
//   margin-left: 45%;
//   color: #FF6666
// }
//
// ul {
//   margin-top: 5%;
//   border-radius: 5%;
//   width: 80%;
//   margin-left: 5%;
//   display: flex;
//   flex-direction: column;
// }
//
// li{
//   text-align: center;
//   list-style: none;
//   border: 5px solid #FF6666;
//   border-radius: 10px;
//   color: #FF6666;
//   font-size: 16px;
//   font-family: calibri;
// }
//
// // fieldset {
// //   color: #FF6666;
// //   font-family: papyrus;
// //   display: flex;
// //   flex-direction: row;
// //   // justify-content: center;
// //   margin-left: 30%;
// // }
//
// img{
//   max-width: 50%;
//   max-height: 50%;
//   padding: 10%;
//   border: 1px solid black;
//   background-color: #FFAC9E;
// }
//

//
// // .navbar-brand {
// //   text-decoration: none;
// //   color: #FFB8A0;
// //   font-weight: bold;
// // }
//
// .select-image{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   background-color: #FFDAB9;
//   font-size: 14px;
//   color: blue;
//   text-decoration: underline;
// }
//
// .form-control {
//   margin-left: 10%;
// }
//
// .select {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }
//
// .delete {
//   display: flex;
//   flex-direction: column;
//   margin-left: 28%;
//   padding-top: 10%;
// }
//
// .img-delete {
//   max-width: 15%;
// }
