<section class="home">
  <h2>Welcome!</h2>

  <create-gallery></create-gallery>

  <input ng-model="homeCtrl.searchTerm" type="text" placeholder="search">

    <ul>
      <gallery-item ng-repeat="item in homeCtrl.galleries | gallerySearch:homeCtrl.searchTerm | orderBy: 'name' | limitTo: 5"
          gallery="item"
          delete-done="homeCtrl.galleryDeleteDone(gallery)"
          ng-click="homeCtrl.currentGallery=item">
      </gallery-item>
    </ul>

    <thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container>
</section>
