<section class="home">
  <navbar></navbar>

  <h2>Welcome!</h2>

  <create-gallery></create-gallery>

  <input class="fuzzy-search" ng-model="homeCtrl.searchTerm" type="text" placeholder="Search Gallery">

  <ul>
    <uib-accordion>
      <gallery-item ng-repeat="item in homeCtrl.galleries | gallerySearch:homeCtrl.searchTerm | orderBy: 'name' | limitTo: 5"
        gallery="item"
        delete-done="homeCtrl.galleryDeleteDone(gallery)"
        ng-click="homeCtrl.currentGallery=item">
      </gallery-item>
    </uib-accordion>
  </ul>

    <thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container>
</section>
